In [173]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [174]:
data = pd.Series(['apple', 'summer', 'spring'])
data

0     apple
1    summer
2    spring
dtype: object

In [175]:
encoder = LabelEncoder()
encoder.fit(data)

LabelEncoder()

In [176]:
target = pd.Series(['apple', 'summer', 'summer', 'spring', 'spring'])
target

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [177]:
encoder.transform(target)

array([0, 2, 2, 1, 1])

In [178]:
target2 = encoder.transform(target)
target2

array([0, 2, 2, 1, 1])

In [179]:
type(target2)

numpy.ndarray

In [180]:
target3 = encoder.inverse_transform(target2)
target3

array(['apple', 'summer', 'summer', 'spring', 'spring'], dtype=object)

In [181]:
########### 2개 컬럼 이상 라벨인코딩하기 ###########

In [182]:
words = pd.Series(['apple', 'summer', 'summer', 'spring', 'spring'])
hobby = pd.Series(['book', 'run','talk','coffee','song'])

In [183]:
df = pd.DataFrame({"words" : words, "hobby" : hobby})
df

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [184]:
columns = df.columns
columns

Index(['words', 'hobby'], dtype='object')

In [185]:
encoder2 = LabelEncoder()

In [186]:
for col in columns:
    df[col] = encoder2.fit_transform(df[col])

In [187]:
df

   words  hobby
0      0      0
1      2      2
2      2      4
3      1      1
4      1      3

In [188]:
########### 원핫인코딩 1개의 컬럼(시리즈) ###########

In [189]:
data2 = pd.Series(['apple', 'summer', 'spring', 'summer', 'spring'])
data2

0     apple
1    summer
2    spring
3    summer
4    spring
dtype: object

In [190]:
data3 = pd.get_dummies(data2)
data3

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       1       0
3      0       0       1
4      0       1       0

In [191]:
########### 원핫인코딩 2개 이상의 컬럼(시리즈들) ###########

In [192]:
df2 = pd.DataFrame({"words" : ['apple', 'summer', 'summer', 'spring', 'spring'], 
                    "hobby" : ['book', 'run','talk','coffee','song']})
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [193]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      object
 1   hobby   5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [194]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      object
 1   hobby   5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [195]:
pd.get_dummies(df2['words'])

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       0       1
3      0       1       0
4      0       1       0

In [196]:
df2['words'] = df2['words'].astype('category')
df2['hobby'] = df2['hobby'].astype('category')

In [197]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      category
 1   hobby   5 non-null      category
dtypes: category(2)
memory usage: 442.0 bytes

In [200]:
pd.get_dummies(df2)

,words_apple,words_spring,words_summer,hobby_book,hobby_coffee,hobby_run,hobby_song,hobby_talk
0,1,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,1,0

In [201]:
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [202]:
df2 = pd.get_dummies(df2) #데이터프레임 전체 더미화
df2

,words_apple,words_spring,words_summer,hobby_book,hobby_coffee,hobby_run,hobby_song,hobby_talk
0,1,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,1,0

In [203]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   words_apple   5 non-null      uint8
 1   words_spring  5 non-null      uint8
 2   words_summer  5 non-null      uint8
 3   hobby_book    5 non-null      uint8
 4   hobby_coffee  5 non-null      uint8
 5   hobby_run     5 non-null      uint8
 6   hobby_song    5 non-null      uint8
 7   hobby_talk    5 non-null      uint8
dtypes: uint8(8)
memory usage: 168.0 bytes