In [1]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [2]:
data = pd.Series(['apple','summer','spring'])
data

0     apple
1    summer
2    spring
dtype: object

In [3]:
encoder = LabelEncoder()
encoder.fit(data)  # 시리즈의 값들이 카테고리 성격을 가진다.

LabelEncoder()

In [4]:
target = pd.Series(['apple','summer','summer','spring','spring'])
target

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [10]:
target2 = encoder.transform(target)
target2

array([0, 2, 2, 1, 1])

In [9]:
type(target)

pandas.core.series.Series

In [11]:
type(target2)

numpy.ndarray

In [12]:
data2 = pd.Series(['apple','summer','spring','summer','spring'])
data2

0     apple
1    summer
2    spring
3    summer
4    spring
dtype: object

In [15]:
data3 = pd.get_dummies(data2)
data3

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       1       0
3      0       0       1
4      0       1       0

In [33]:
words = pd.Series(['apple','summer','summer','spring','spring'])
hobby = pd.Series(['book','run','talk','coffee','song'])

In [34]:
df2 = pd.DataFrame({'words': words, 'hobby': hobby})
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [25]:
columns = df2.columns
columns

Index(['words', 'hobby'], dtype='object')

In [26]:
encoder2 = LabelEncoder()

In [27]:
for col in columns:
    df2[col] = encoder2.fit_transform(df[col])
df2

   words  hobby
0      0      0
1      2      2
2      2      4
3      1      1
4      1      3

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      int64
 1   hobby   5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [36]:
df2['words'] = df2['words'].astype('category')
df2['hobby'] = df2['hobby'].astype('category')

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      category
 1   hobby   5 non-null      category
dtypes: category(2)
memory usage: 482.0 bytes

In [38]:
pd.get_dummies(df2)

,words_apple,words_spring,words_summer,hobby_book,hobby_coffee,hobby_run,hobby_song,hobby_talk
0,1,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,1,0